target/

*.log

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Packaging ###
*.jar
*.war
*.ear

src/main/java/com/dataart/fastforward/app/validation/FieldErrorDTO.java
src/main/java/com/dataart/fastforward/app/validation/MessageDTO.java
