<html>
<head>
    <meta charset="UTF-8">
    <title>Sign-Up Form</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.min.js"></script>
</head>

<body ng-app="signupApp">

<div>
    <form ng-submit="Register()" ng-controller="signupController">
        <fieldset>
            <legend>Log In</legend>
            <div>
                <p>First Name: <input type="text" name="firstName" ng-model="firstName" required /></p>
            </div>
            <div>
                <p>Last Name: <input type="text" name="lastName" ng-model="lastName" required /></p>
            </div>
            <div>
                <p>Login: <input type="text" name="username" ng-model="username" required /></p>
            </div>
            <div>
                <p>Password: <input type="password" name="password" ng-model="password" required /></p>
            </div>
        </fieldset>
        <button type="submit">Signup</button>
    </form>
</div>

<pre>{{ data | json }} </pre>

<a href="/resources/public/authenticate.html">Already have user?</a>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="/resources/public/js/signup.js"></script>

</body>
</html>