<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Signup Form</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.min.js"></script>
</head>

<body ng-app="signupApp">

<form ng-submit="register()" ng-controller="signupCtrl">
    <fieldset>
        <legend>New User?</legend>
        <div class="form-field">
            <input type="text" ng-model="firstname" placeholder="First name" required>
        </div>
        <div class="form-field">
            <input type="text" ng-model="lastname" placeholder="Last name" required>
        </div>
        <div class="form-field">
            <input type="text" ng-model="username" placeholder="Username" required>
        </div>
        <div class="form-field">
            <input type="password" ng-model="password" placeholder="Password" required>
        </div>
    </fieldset>
    <button type="submit">Create User</button>
    <a href="/resources/public/login.html">Already a user?</a>
</form>



<script src="/resources/public/js/signup.js"></script>


</body>
</html>